{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ],
    [
      "next/babel",
      {
        "transform-runtime": {
          "useESModules": false
        }
      }
    ]
  ]
}