// Header
.l-header {
  //width: 100%;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding-left: 1em;
  padding-right: 1em;
}

// Tablet
@include getMediaQueryMin('.l-header','sm') {
  padding-left: 3em;
  padding-right: 3em;
}

// PC
@include getMediaQueryMin('.l-header','md') {
  padding-left: 8em;
  padding-right: 8em;
}