// Section
.l-section {
  width: 100%;
  overflow-x: hidden;
  padding-left: $_section-padding;
  padding-right: $_section-padding;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: $_color-bg;
}

.gray-section {
  background-color: #f5f5fa;
}

.bg-section {
  background-image: url("../img/bg_2.jpg");
  background-position: center top;
  background-size: cover;
}

// Tablet
@include getMediaQueryMin('.l-section','sm') {
  padding-left: 3em;
  padding-right: 3em;
}

// PC
@include getMediaQueryMin('.l-section','md') {
  padding-left: 8em;
  padding-right: 8em;
}

/*// Wide PC
@include getMediaQueryMin('.l-section','lg') {
  padding-left: 13em;
  padding-right: 13em;
}*/
