// CSS3 Animation
.slideSide, .slideUp, .fadeIn {
  opacity: 0;
}

.js {
  &.slideSide {
    animation-name: fadeSlideLeft;
    animation-duration: 1.3s;
    animation-fill-mode: both;

    &:nth-child(even) {
      animation-name: fadeSlideRight;
    }
  }

  &.slideUp {
    animation: fadeSlideUp 1.5s both;
  }

  &.fadeIn {
    animation: fadeIn 1s both;
  }
}


