// CSS3 Animation
.js {
  &.slideSide {
    animation: fadeSlideLeft 1.3s;

    &:nth-child(even) {
      animation: fadeSlideRight 1.3s;
    }
  }

  &.slideUp {
    animation: fadeSlideUp 1s;
  }
}


