// CSS3 Animation
// Mobile will not work
@include getMediaQueryMin('.l-section','sm') {
  .is-animation {
    opacity: 0;
    @include css3('animation-duration', 1s);
    @include css3('animation-fill-mode', both);
  }

  .is-border {
    @include css3('animation-duration', 1s);
    @include css3('transition-delay', 1s);
    @include css3('animation-fill-mode', both);
    border-bottom: 1px solid transparent;
  }

  .fadeInUp {
    animation-name: fadeInUp;
  }

  .proj.fadeInUp {
    animation-name: c_fadeInUp;
  }

  .fadeInUp.is-border {
    border-bottom: 1px solid #eee;
  }

  .fadeInUp .level__progress--percent {
    @include css3('animation-duration', 3.5s);
    @include css3('transition-delay', 600ms);
    @include css3('animation-fill-mode', both);
    animation-name: width;
  }
}

