// Button
.button {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1.5em;
  background-color: #0adebd;
  border: 2px solid #0adebd;
  text-align: center;
  color: $_color-text;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: 0.8s;
  transition: 0.8s;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: #fff;
  }
}
