// Hero
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__proj {
    height: 50vh;
  }

  &__parallax {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg_1.png);
    background-position: center top;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    //transform: translate(0, 0);

    &--proj {
      height: 50vh;
    }

    &.emiac {
      background-image: url(../../img/emiac/header.jpg);
    }

    &.ahl {
      background-image: url(../../img/ahl/header.jpg);
    }

    &.rita {
      background-image: url(../../img/rita/header.jpg);
    }

    &.osazen {
      background-image: url(../../img/osazeb/header.jpg);
    }
  }

  &__inner {
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  &__sub {
    font-size: 18px;
    letter-spacing: 2px;

    &--desc {
      font-size: 80%;
    }
  }
}

@include getMediaQueryMin('.hero','sm') {
  &__sub {
    font-size: 30px;
    letter-spacing: 2px;
    opacity: 0;
    @include css3('animation-duration', 2.0s);
    @include css3('animation-fill-mode', both);
    animation-name: hero_fade;
  }
}
