// Hero
.hero {
  width: 100%;
  height: 100vh;
  @include flex();

  &__proj {
    height: 50vh;
  }

  &__parallax {
    width: inherit;
    height: inherit;
    background: url(../img/bg.png);
    background-position: 78% top;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    &--proj {
      background-image: url(../img/header.jpg);
      background-position: center top;
    }
  }

  &__inner {
    width: 100%;
    padding: 0 $_section-padding;
    position: relative;
    z-index: 5;
  }

  &__title {
    line-height: 43px;
    letter-spacing: 0.025em;

    & > em {
      display: block;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 17px;

    & > em {
      display: inline-block;
    }
  }

  &__anime {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 15px);
    z-index: 5;
  }

  &__arrow {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    animation: bounce 1.8s infinite;

    &:before {
      content: "";
      width: 25px;
      height: 25px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      position: absolute;
      top: 0;
      left: 3px;
    }
  }
}

// Tablet
@include getMediaQueryMin('.hero','sm') {
  &__inner {
    padding: 0 3em;
  }

  &__title {
    & > em {
      display: inline-block;
      padding: 0 .3em;
    }
  }

  &__text > em {
    display: block;
  }
}

// PC
@include getMediaQueryMin('.hero','md') {
  &__inner {
    padding: 0 8em;
  }
}
