// Navigation
.nav {
  &__item {
    display: block;
    padding: 1em 0;

    a {
      display: inline-block;
      color: #fff;
    }
  }

  &--list {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
  }
}

.nav--button {
  margin: 0.5em 1em 0 0;
  @include hamburger();
}

.nav--button.close {
  @include hamburger_close();
}

.nav--button.close + .nav--list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include css3('animation-duration', 1.5s);
  @include css3('animation-fill-mode', both);
  animation-name: c_fade;
}

// Tablet
@include getMediaQueryMin('.nav','sm') {
  &__item {
    display: inline-block;
    border: none;
    padding: 0;
    text-align: left;

    a {
      display: inline-block;
      color: #fff;
      padding: 1em 1.5em;
    }
  }

  &--list {
    display: block;
    height: 100%;
    position: static;
    background: none;
  }

  &--button {
    display: none;
  }
}

