// Proj
.proj {
  width: 100%;

  &__link {
    display: block;
    width: 100%;
    color: #333;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: $_section-padding;
    padding-right: $_section-padding;
    border-bottom: 1px solid #eee;
    @include clearfix();

    &:hover {
      background-color: #000;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  &__image {
    text-align: center;

    img {
      width: 100%;
    }
  }

  // Tablet
  @include getMediaQueryMin('&__link','sm') {
    @include css3('transition', 0.8s);
    padding-left: 3em;
    padding-right: 3em;
    border-bottom: 1px solid transparent;
  }

  // PC
  @include getMediaQueryMin('&__link','md') {
    padding-left: 8em;
    padding-right: 8em;
  }

  // Wide PC
  @include getMediaQueryMin('&__link','lg') {
    padding-left: 15em;
    padding-right: 15em;
  }


  &__img {
    display: block;
    width: 100px;
    height: auto;
    float: left;
  }


  &__description {
    width: 180px;
    float: left;
    font-size: 13px;
    line-height: 140%;
    padding-left: 0.5em;

    small {
      padding-bottom: 5px;
    }

    strong {
      font-size: 16px;
    }
  }

   // Tablet
  @include getMediaQueryMin('&__image','sm') {
    img {
      width: 50%;
    }
  }

  // Tablet
  @include getMediaQueryMin('&__description','sm') {
    width: 400px;
  }

  &--outer {
    padding-left: 0;
    padding-right: 0;
  }
}