// Resume
.resume {
  &__list {
    &--item {
      border-bottom: 1px solid #c2c2c2;

      &:last-child {
        border-bottom: none;
      }
    }

    &--title {
      font-family: 'Noto Serif', serif;
      font-weight: 700;
      line-height: 140%;
      padding-top: 13px;
      padding-bottom: 2px;
    }

    &--desc {
      font-size: 80%;
      line-height: 145%;
      padding-bottom: 15px;
    }
  }
}