// Navigation
.sns {
  padding: 1.5em 0 1em 0;

  &--about {
    padding: 1em 0 0 0;
  }

  &__item {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;

    &--about {
      display: inline-block;
      padding-left: 0;
      padding-right: 1em;
    }

    &--link {
      &:hover {
        cursor: pointer;

        .sns__icon {
          transition: 0.4s;
        }

        .sns_icon--twitter {
          fill: $_color-twitter;
        }

        .sns_icon--facebook {
          fill: $_color-facebook;
        }

        .sns_icon--github {
          fill: $_color-github;
        }

        .sns_icon--linkedin {
          fill: $_color-linkedin;
        }

        .sns_icon--pinterest {
          fill: $_color-pinterest;
        }

        .sns_icon--spotify {
          fill: $_color-spotify;
        }
      }
    }
  }

  &__icon {
    width: 25px;
    height: 25px;

    &--about {
      width: 25px;
      height: 25px;
      fill: #333;
    }
  }
}
