// Tag
.tags {
  margin: 10px 0;

  &__item {
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    padding: 5px 10px 5px 28px;
    margin: 3px 10px 3px 0;
    position: relative;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 5px;
      position: absolute;
      left: 10px;
      top: 12px;
    }

    &--html:before {
      background-color: #f14a29;
    }

    &--css3:before {
      background-color: #33a9dc;
    }

    &--wp:before {
      background-color: #21759b;
    }

    &--js:before {
      background-color: #0769ad;
    }

    &--ae:before {
      background-color: #d1a6fd;
    }

    &--php:before {
      background-color: #777bb3;
    }

    &--scss:before {
      background-color: #c6538c;
    }

    &--other:before {
      background-color: #0adebd;
    }
  }
}



